
body{
  background-color: #75a5d8;
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #A1E3F9;
}
h1 {
  font-size: 4rem;
}
button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;

}

.add-button {
  background-color: #3674B5;
}

.delete-button {
  background-color: rgb(214, 23, 23);
}
.move-button {
  background-color: #D1F8EF;

  &:hover {
    background-color: #0e7c4e;
  }
}

input[type="text"]{
  font-size : 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);

}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0,0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button {
  padding:8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}